section {
  background-color: grey;
  margin: 16px;
  border-top: 2px black;
  border-bottom: 2px black;
  border-left: 2px black;
  border-right: 2px black;
}

#title1 {
  background-color: palegoldenrod;
}
#title2 {
}

#my-header {
  color: turquoise;
}
