section {
  background-color: grey;
  margin: 16px;
  border-top: 2px black;
  border-bottom: 2px black;
  border-left: 2px black;
  border-right: 2px black;
}

img {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  padding: 8px;
}
